Options +FollowSymlinks
RewriteEngine On

RewriteBase /htprojects/schoolRepository/experto

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-F

RewriteRule ^(.*)$ index.php?r=$1 [L]
